pre{
  color: #ccc;
  background: #333;
  font-style: normal;
  font-weight: normal;
  font-family: "Droid Sans Mono", "Lucida Console", "Andale Mono", "Courier New", "Courier", monospace;
  font-size: 12px;
  line-height: 12px;
  width: 400px;
}
